<div ng-show="!$state.params.embed&&!$state.params.noheader" ng-include="'/partials/header-thin'"></div>
<div ng-include="'static/app/views/sub-nav.html'"></div>
<!--<div ng-cloak class="layouts-base" ui-view></div>-->
<div class="layouts-map-left-sidebar">
  <i
     ng-class="{'fa-bars':lc, 'fa-close':!lc}" class="fa fa-lg clickable sidebar-toggle left" ng-click="lc = !lc;"></i>
 <div ng-show="!$state.params.embed||$state.params.sidebars" ng-class="{'closed': lc}" class="sidebar-scroll-container left">
   <div ui-view="left-sidebar" class="left"></div>
 </div>
  <div class="map-container" ng-include="'static/app/partials/map.html'"></div><!--ui-view="map"></div>-->
  <i
     ng-class="{'fa-bars':rc, 'fa-close':!rc}" class="fa fa-lg clickable sidebar-toggle right" ng-click="rc = !rc;"></i>
  <div ng-show="!$state.params.embed||$state.params.sidebars" ng-class="{'closed': rc}" class="sidebar-scroll-container right">
    <div ui-view="right-sidebar" class="right"></div>
  </div>
  <mol-loading-indicator></mol-loading-indicator>
</div>
<div ng-show="!$state.params.embed&&!$state.params.nofooter" ng-include="'/partials/footer-thin'"></div>
