 <div class="subnav  navigation">
    <div class="navbar navbar-default" style="white-space:nowrap;background-color:#8cbf44" >

          <div class="container-fluid" >

            <ul class="nav navbar-nav" ng-if=" $state.current.name != 'species.home' ">
              <li ui-sref-active-eq="active"><a ui-sref="species.home">Species Home</a></li>
              <li ui-sref-active-eq="active"><a ui-sref="species.overview($state.params)" ui-sref-opts="{absolute: true}">Summary Map</a></li>
              <li ui-sref-active-eq="active"><a ui-sref="species.detailed-map($state.params)" ui-sref-opts="{absolute: true}">Detailed Map</a></li>
              <li ng-show="$state.params.beta" ui-sref-active-eq="active"><a ui-sref="species.habitat-distribution($state.params)">Habitat Distribution</a></li>
              <li ng-show="$state.params.beta" ui-sref-active-eq="active"><a ui-sref="species.habitat-distribution.reserve-coverage($state.params)">Reserve Coverage</a></li>
            </ul>
            <div  ng-show=" $state.current.name != 'species.home'" class="pull-right">
              <div class="nav-features">
                <mol-species-search  ng-show="toggleSearch && (!$state.params.embed||$state.params.speciessearch)"></mol-species-search>
              </div>
              
              <ul class="nav navbar-nav navbar-right" ng-show="!$state.params.embed||$state.params.speciessearch">
                <li><a ng-show="!toggleSearch" ng-click="toggleSearch = !toggleSearch">Search for another species</a></li>
              </ul>              
              
              <mol-location-search ng-show="!$state.params.embed||$state.params.regionsearch"></mol-location-search>
            </div>
          </div>

    </div>

</div>
