 <div class="subnav  navigation">
    <div class="navbar navbar-default" style="white-space:nowrap;background-color:#8cbf44" >

          <div class="container-fluid" >

            <ul class="nav navbar-nav" ng-if=" $state.current.name != 'species.home' ">
              <li ui-sref-active-eq="active"><a ui-sref="species.home($state.params)" ui-sref-opts="{absolute: true}" translate>nav_species_home</a></li>
              <li ui-sref-active-eq="active"><a ui-sref="species.overview($state.params)" ui-sref-opts="{absolute: true}" translate>nav_summary_map</a></li>
              <li ui-sref-active-eq="active"><a ui-sref="species.detailed-map($state.params)" ui-sref-opts="{absolute: true}" translate>nav_detailed_map</a></li>
              <li ui-sref-active-eq="active"><a ui-sref="species.projection-landuse($state.params)" ui-sref-opts="{absolute: true}" translate>Landuse Habitat Projection</a></li>
              <!-- <li ui-sref-active-eq="active"><a ui-sref="species.habitat-trend($state.params)" ui-sref-opts="{absolute: true}" translate>Habitat Trend</a></li> -->
            </ul>
            <div  ng-show=" $state.current.name != 'species.home'" class="pull-right">

              <ul class="nav navbar-nav navbar-right" ng-show="!$state.params.embed||$state.params.speciessearch">
                <li ng-show="!toggleSearch"><a ng-click="toggleSearch = !toggleSearch">
                    <i class="fa fa-search" aria-hidden="true"></i> &nbsp; {{ 'search_species' | translate}}
                </a></li>
                <li ng-show="toggleSearch"><a class="no-hover">
                  <div class="nav-features">
                    <mol-species-search  ng-show="!$state.params.embed||$state.params.speciessearch"></mol-species-search>
                  </div>
                  </a></li>
                <li ng-show="toggleSearch"><a ng-click="toggleSearch = !toggleSearch">
                  <i class="fa fa-times close-icon" aria-hidden="true"></i>
                </a></li>
              </ul>

              <mol-location-search ng-show="!$state.params.embed||$state.params.regionsearch"></mol-location-search>
            </div>
          </div>

    </div>

</div>
