
<style>
  .sidebar

  .species-list .thumb {
    width: 32px; height: 32px;
    opacity: 1;
    display:block;
    float:left;

    z-index: 10000000;
    transition:all 1s ease;
  }
  .species-list .thumb {
    width: 32px; height: 32px;
    transition:all 0.8s ease;

  }

  .species-list .thumb-error {
    width: 32px; height: 32px;
    background-size:contain;
    background-image: url('https://mol.org/static/img/groups/taxa_all.png');
  }

  .species-list-fullsize {
    max-height:70vh;
    z-index:110000;
  }

  .species-list .row {
    padding: 5px 0px;
    font-size: 12pt;
    vertical-align: middle;
  }

  .species-list .row:hover{
    background-color: #eee;
  }

  .species-list .latin {
    font-style: italic;
    font-size: -1;
  }

  .species-list .autocomplete .form-control {
    max-width:100%;
  }

</style>

<div class="sidebar species-list">
  <h3 ng-if="!region.name">Click to select a region.</h3>
  <h3 ng-if="region.name">Species expected in the {{region.name}} region.</h3>
  <div ng-if="region.name && groups.selectedIndex === undefined && groups.available[0].species ">
    <div ng-repeat="group in groups.available | orderBy:'sortby' ">
      <h3 ng-click="groups.selectedIndex = (group.count > 0) ? $index : undefined"
         class="clickable">{{group.count | number}}&nbsp;{{group.title}}</h3>
    </div>
  </div>
  <div ng-init="selected_family = 'none'" ng-if="region.name && groups.selectedIndex !== undefined ">
      <button ng-click="groups.selectedIndex = undefined"
        class="btn btn-default clickable"><strong>Back to all groups</button>
      <div class="container">
        <div  ng-repeat="family in groups.available[groups.selectedIndex].species
            | orderBy:'sequenceid'
            | groupBy:'family_common'
            | toArray:true">
          <h3 class="clickable" ng-click="selected_family = family.$key">
            {{family.length}}&nbsp;{{(family.$key !== 'null')?family.$key:'Family unknown'}}</h3>
          <a class="row clickable"
            ng-if="selected_family === family.$key"
            ng-repeat="s in family"
            ng-href="/species-dev/{{cleanURLName(s.scientificname)}}?embed=true&sidebar=true&regiontype={{region.type}}&region={{region.name}}">
            <div class="col-md-2">
              <div ng-class="{'thumb-error':h}">
                <img
                align="left"
                class="thumb"
                ng-hide="h || !s.image_url ++ s.image_url === 'null'"
                ng-src="{{(s.image_url) ? s.image_url + '=s32-c' :
                  'https://mol.org/static/img/groups/taxa_'
                    + groups.available[groups.selectedIndex].taxa + '.png' }}"
                ng-error="h=true;"
                ></div>
              </div>
            <div class="col-md-10">
              <div class="common">{{s.common}}</div>
              <div class="latin">{{s.scientificname}}</div>
            </div>
          </a>
      </div>
    </div>
  </div>

</div>
