<div class="sidebar">
  <div class="name" >
      <div class="infoCommonName" ng-show="species.commonname">
          {{ species.commonname }}
      </div>
      <div class="infoSciName" ng-show="species.scientificname">
          {{ species.scientificname }}
      </div>
  </div>
  <div class="row"><div class="type-row">
    <div class="col-md-3"><h5 translate>Decade</h5></div>
    <div class="col-md-9">
      <select class="form-control selectpicker" 
        ng-model="model.projectionOpts.decade" 
        ng-options="opt for opt in decades">
        <option value='' translate>Select decade</option>
      </select>
    </div>
  </div></div>

  <div class="row">&nbsp;</div>
  
  <div class="row"><div class="type-row">
    <div class="col-md-3"><h5 translate>Scenario</h5></div>
    <div class="col-md-9">
      <select class="form-control selectpicker" 
        ng-model="model.projectionOpts.scenario" 
        ng-options="opt.code as opt.name for opt in scenarios">
        <option value='' translate>Select scenario</option>
      </select>
    </div>
  </div></div>

  <div class="row">&nbsp;</div>

  <div class="row"><div class="type-row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-9"><button class="btn btn-primary" 
        ng-class="{'disabled': !(model.projectionOpts.decade && model.projectionOpts.scenario)}" 
        ng-click="getHabitatProjection()">
        Get habitat projection
    </button> &nbsp; &nbsp;
    <i class="fa fa-question-circle fa-lg" uib-tooltip="Projections following Powers &amp; Jetz (submitted MS)" tooltip-placement="bottom"></i></div>
  </div></div>

  <div class="row">&nbsp;</div>

  <div class="row"><div class="type-row">
    <div class="col-md-12">
      <div id="habitat-projection-chart" style="width: 400px; height: 300px"></div>
    </div>
  </div></div>
</div>
