
.clickable {
		cursor: pointer;

}


header {
	margin: 0;
	padding: 0;
	position: relative;

}
body, caption, th, td, input, textarea, select, option, legend, fieldset {
	font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
.logo {
	margin: 0.5em;
	width: 10em
}



.login {
  float: right;
}

@media (min-width: 740px) {
	.logo {
		float: left
	}
}
.logo a {
	display: block;
	height:60px;
}
.logo img {
	width: 160px;
}
@media (min-width: 740px) {
	nav {
		position: absolute;
		bottom: 0;
		right: 1em
	}
}
.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
	text-align: center;
	font-size: 0.75em
}
@media (min-width: 740px) {
	.menu {

		/*position: absolute;*/
		font-size: 1em
	}
}

.list-group-item .active {

}


.btn-default.active {
    background-image: linear-gradient(to bottom,#8cbf44 0,#7bae33 100%);
    color: #ffffff;
}

.pa_img_container {
  display:table-cell;
  text-align: center;
  width:300px;
  height:200px;
  vertical-align:middle;
  text-align:center;
}

.left-hab {
  float: left;
  text-align: center;
  width:40%;
  margin-left:12px;
}
.right-hab {
    text-align: center;
    margin-right:12px;
}

.hab-group-label {
    /*text-align: left;*/
    padding-top: 10px;
    padding-bottom: 5px;
}

.ttelem {
    border-bottom: 1px dotted #999;
    cursor: help;
}

.menu li {
	list-style: none;
	list-style-image: none;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0
}


.menu a:link, .menu a:visited {
	color: #3d3c3c;
	text-decoration: none;
	padding: 0.25em 0.5em 0.35em 0.5em;
	display: block
}
.menu a:hover {
	color: #8cbf44
}
.menu .tab a:link, .menu .tab a:visited {
	color: #fff;
	background-color: #062d66;
	-webkit-border-radius: 0.5em 0.5em 0 0;
	-moz-border-radius: 0.5em 0.5em 0 0;
	-ms-border-radius: 0.5em 0.5em 0 0;
	-o-border-radius: 0.5em 0.5em 0 0;
	border-radius: 0.5em 0.5em 0 0
}

.menu .tab i {
    display: inline-block;
    margin-left: 0.5em;
	content: "\f041";
	font-family: FontAwesome;
	color: #23a9d0;
	background-color: #fff;
	margin: 0.5em;
	height: 1.25em;
	width: 1.25em;
	line-height: 1.25;
	text-align: center;
	-webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	-ms-border-radius: 5em;
	-o-border-radius: 5em;
	border-radius: 5em
}
.menu .tab a:hover {
	background-color: #e86e1d
}

.menu .tab a.selected {
    background-color: #8cbf44;
}

.content {
  flex: 1 1 auto;
}

.info {
    font-size:1.2em;
    margin-top: 0.5em;

    padding-top: 0.5em;
    max-height:13em;

}

.infowindow {
  max-height: 800px ;
  width: 400px;
  max-width: 600px;
  overflow:scroll;
  padding: 10px;
  overflow: scroll;
}

.expand {
    cursor: pointer;
}
.chart {
    margin:1em 3em;
}
.box {

    margin: 0 4pt;
    border: 1pt solid black;
    border-radius:0.3em;
    overflow:hidden;
}
.chart .labels {
    width: 120%;
    padding: 0;
    margin 0;
    margin-left:-10%;
    text-align: center;
}

.chart .bar .values {
    font-size: 0.725em;
    color: #111111;
    white-space: nowrap;
}

.mapit {
    z-index: 100;
}
.rank_label {
    text-align: center;
}

.chart_left .rank_label:nth-of-type(1) {
  display:none;
}

.chart .title {
    font-size: 1em;
    text-align: center;
    cursor:pointer;

}
.chart .title a {
    color: #333;
}
.chart .labels .label{
    float:left;
    width:20%;
    color: #333;
    font-weight: normal;
}
.chart .box .bar {
    width:100%;
    height: 2em;
    text-align: right;
    background-color: steelblue;
    -webkit-transition: width 2s;
    transition: width 2s;
}

.chart .units {
    text-align: center;
    font-size: 1em;
}

.controls {
    font-size: 0.9em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    border: 0.1em solid gray;
    border-radius: 0.5em;
    padding: 0.5em;
}

.description {
    margin-top:0.5em;
    max-height:10em;
    overflow-y: auto;
    font-size: 1em;
}

.infoCommonName:first-line {
    font-size: 1.5em;
    line-height:15pt;
}
.infoCommonName {
    font-size: 1.2em;
}
.infoSciName{
    font-size:1.2em;
    font-style: italic;

}

.tax {
    padding: 10px;;
}

.specimg {
  height: 160px;
}

.image {
		position-relative;
    overflow: hidden;
    width: 140px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
}



.name {
    padding: 0.1em 0 0.1em 0;
}
.legend {
  display: inline-block;
  margin-right: 5pt;
  width:10px;
  height:10px;
  border:0.5pt solid black;
}

.assess {
    cursor: pointer;
    float:left;
    padding:4px;
    text-decoration: underline;
}
.help {
    float:right;
    cursor: pointer;
}
.search {
   padding: 0 0.2em 1em 0.2em;
	 outline: none;
	 float:right;
}
.search td{
	padding: 5pt;
}

.search .random {
  text-align: center;
}

.

.search_col {
    padding-right:0;
    margin-right:0;
    text-align: left;
}
.pick_col {
    padding-right:0;
    margin-right:0;
    padding-left:0;
    margin-left:0;
    text-align: center;
}

.group_col {
    padding-left:0;
    margin-left:0;
    text-align: right;
}

.typeahead .sci {
    font-style: italic;
}



.twitter-typeahead {
    width: 100%;
}

.form-control {
	border-radius: 4px;
	max-width: 128px;
	padding: 6px 6px;
}


.ngrs-range-slider {
margin: 0;
}

.dropdown-menu {
  white-space: nowrap;
}
.searchResult {
  max-width: 400px;
  text-align: left;
  white-space: nowrap;
}

.searchResult:first-line {
  text-indent: 1em;
}

.searchResult .sciName {
  font-style: italic;
}

.species .v {
    padding-left:1em;
}
.searchHint {
    margin: 1em 0em 1em 0;
    padding-left: 1em;
}
.searchHint a {
    line-height: 2em;
}
.header {
    background: #fff url(../images/header_background.png)
        no-repeat bottom center;
}
