<style>
    /** Splash page specific **/
    .container.home {
        width: 100%;
        max-width: 76em;
    }
    .col-divider>h4 {
        margin-left: 180px;
    }
    .taxa-info .form-control {
        display: inline;
    }
    .taxa-info input, .taxa-info .dropdown-menu {
        min-width: 200px;
    }
    .taxa-info .dropdown-menu {
    max-height: 400px;
    overflow: scroll;
    }
    .taxa-info select.selectpicker {
        margin-right: 8px;
    }
    .taxa-info select.selectpicker, .taxa-random select.selectpicker, .nav-features select {
        min-width: 165px;
        max-width: 165px;
    }

    .no-results {
        margin: 10px 0;
        position: absolute;
        z-index: 10;
    }
    .hero-species {
        margin: 0 0 32px 0;
        position: relative;
        cursor: pointer;
        /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);*/
        background: #fff;
        -webkit-transition: all .3s;
        transition: all .3s;
    }
    .hero-card {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 8px;
        padding: 8px;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
        transition: all 100ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }
    .hero-card:hover {
        box-shadow: 0px 4px 7px 0 rgba(0,0,0,.2),0 4px 4px 0 rgba(0,0,0,.14),0 5px 4px -4px rgba(0,0,0,.12);
        transform: translate3d( 0px, -4px, 0px );
    }
    .hero-header {
        height: 150px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-header img {
        flex: 0 0 auto;
        width: 100%;
        height: auto;
    }
    .hero-species h4 { line-height: 1.0; }
    @media (max-width: 594px) {
        .taxa-info input, .taxa-info .dropdown-menu {
            min-width: 250px;
        }
        .taxa-info select.selectpicker {
            margin-bottom: 8px;
        }
    }
    @media (min-width: 768px) and (max-width: 1052px) {
        .taxa-info input, .taxa-info .dropdown-menu {
            min-width: 250px;
        }
    }
    @media (min-width: 768px) and (max-width: 934px) {
        .taxa-info select.selectpicker {
            margin-bottom: 8px;
        }
    }
    @media (min-width: 1052px) and (max-width: 1150px) {
        .taxa-info input, .taxa-info .dropdown-menu {
            min-width: 300px;
        }
    }
    @media (max-width: 950px) {
        .col-divider>h4 {
            margin-left: 0px;
        }
        .taxa-info select.selectpicker {
            margin-bottom: 8px;
        }
    }
    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }
    @media (max-width: 992px) {
        .hero-header {
            height: 200px;
            align-items: center;
        }
    }
    @media (max-width: 768px) {
        .hero-header {
            min-height: 150px;
            max-height: 350px;
            align-items: center;
        }
        .taxa-random select.selectpicker {
            display: none;
            margin-top: 10px
        }
    }

    /** End splash page specific **/

</style>

<script type="text/ng-template" id="sp-ac-template.html">
	<a class="searchResult">
        <div class="row">
            <div class="col-sm-2">
                <img ng-src="https://mol.org/static/img/groups/taxa_{{match.label.taxa}}.png"
                    err-src="https://mol.org/static/img/groups/taxa_all.png" />
            </div>
            <div class="col-sm-10">
                <div class="commonName" ng-bind-html="((match.label.vernacular) ? match.label.vernacular : '') | uibTypeaheadHighlight:query"></div>
                <div class="sciName" ng-bind-html="match.label.scientificname | uibTypeaheadHighlight:query"></div>
            </div>
        </div>
	</a>
</script>

<script type="text/ng-template" id="popup-template.html">
  <div class="custom-popup-wrapper">
		 <ul class="dropdown-menu ng-isolate-scope"
		 		ng-show="isOpen() && !moveInProgress"
				style="position:absolute;"
				ng-style="{top: position().top+'px', right: position().right+'px'}"
				role="listbox" aria-hidden="false"
				uib-typeahead-popup=""
				matches="matches" active="activeIdx"
				select="select(activeIdx, evt)"
				move-in-progress="moveInProgress" query="query"
				assign-is-open="assignIsOpen(isOpen)" debounce="debounceUpdate" template-url="ac-template.html">
     </ul>
  </div>
</script>

<div class="container content home">

    <div class="row content">
        <div class="col-md-6 col-sm-6 col-divider">
            <h4 class="lead">Search for a species</h4>
            <div class="form-inline taxa-info">

                <div ng-include="'static/app/views/home/group_selector.html'" 
                    style="position:relative;display:inline"></div>

                <input type="text" class="form-control"
                    autocomplete="on" placeholder="Search for a species" typeahead-wait-ms="500"
                    ng-model="selected.value" typeahead-no-results="noResults" typeahead-loading="searchingSpecies"
                    uib-typeahead="species.scientificname as species for species in searchSpecies(($viewValue)?$viewValue:'.')"
                    typeahead-on-select="loadSpeciesPage($model)" typeahead-template-url="sp-ac-template.html" />

                    <i ng-show="searchingSpecies" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>

                    <uib-alert class="no-results fade in" type="warning" close="noResults = false" ng-show="noResults">
                        <h4>
                            <i class="fa fa-search" aria-hidden="true"></i> &nbsp;
                            We couldn't find what you are looking for
                        </h4>
                        <p>
                            This may be due name mismatch or the species has not been included in
                            Map of Life yet. Consider trying an alternative name or check back later.
                            We are constantly improving the site and adding more species, so feel free to
                            <a href="https://mol.org/feedback" class="alert-link">contact us</a> for
                            data suggestions or feedback.
                        </p>
                    </uib-alert>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <h4 class="lead">Or pick a random species</h4>
            <div class="form-inline taxa-random">

                <!--<div ng-include="'static/app/views/home/group_selector.html'" style="position:relative;display:inline"></div>-->

                <button ng-click="randomSpecies()" class="btn btn-default">Spin the wheel</button>
            </div>
        </div>
    </div>

    <hr />

    <div class="content favourites">

        <h4 class="lead">Or select from our favorites</h4>

        <div class="col-lg-3 col-md-4 col-sm-6 text-center" ng-repeat="sp in speciesList">
            <div class="hero-species" ui-sref="species.overview({scientificname:sp.s})">
                <div class="hero-card">
                    <div class="hero-header">
                        <img class="img-center center-block img-responsive" ng-src="{{molConfig.base + 'static/app/views/home/img/' +sp.i }}" alt="{{ sp.c }}" style="" />
                    </div>
                    <div class="hero-info">
                        <h4>{{ sp.c }}</h4>
                        <em>{{ sp.s | replace:"_":" " }}</em>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
