<script type="text/ng-template" id="sp-ac-template.html">
	<a class="searchResult">
        <div class="row">
            <div class="col-sm-2">
                <img ng-src="https://mol.org/static/img/groups/taxa_{{match.label.taxa}}.png"
                    err-src="https://mol.org/static/img/groups/taxa_all.png" />
            </div>
            <div class="col-sm-10">
                <div class="commonName" ng-bind-html="((match.label.vernacular) ? match.label.vernacular : '') | uibTypeaheadHighlight:query"></div>
                <div class="sciName" ng-bind-html="match.label.scientificname | uibTypeaheadHighlight:query"></div>
            </div>
        </div>
	</a>
</script>

<script type="text/ng-template" id="popup-template.html">
  <div class="custom-popup-wrapper">
		 <ul class="dropdown-menu ng-isolate-scope"
		 		ng-show="isOpen() && !moveInProgress"
				style="position:absolute;"
				ng-style="{top: position().top+'px', right: position().right+'px'}"
				role="listbox" aria-hidden="false"
				uib-typeahead-popup=""
				matches="matches" active="activeIdx"
				select="select(activeIdx, evt)"
				move-in-progress="moveInProgress" query="query"
				assign-is-open="assignIsOpen(isOpen)" debounce="debounceUpdate" template-url="ac-template.html">
     </ul>
  </div>
</script>

<div class="container content home">

    <div class="row content">
        <div class="col-md-6 col-sm-6 col-divider">
            <h4 class="lead">Search for a species</h4>
            <div class="form-inline taxa-info">
                        
                <div ng-include="'static/app/views/home/group_selector.html'" style="position:relative;display:inline"></div>

                <input type="text" class="form-control" 
                    autocomplete="on" placeholder="Search for a species" typeahead-wait-ms="500"
                    ng-model="selected.value" typeahead-no-results="noResults" typeahead-loading="searchingSpecies" 
                    uib-typeahead="species.scientificname as species for species in searchSpecies(($viewValue)?$viewValue:'.')" 
                    typeahead-on-select="loadSpeciesPage($model)" typeahead-template-url="sp-ac-template.html" />

                    <i ng-show="searchingSpecies" class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>

                    <uib-alert class="no-results fade in" type="warning" close="noResults = false" ng-show="noResults">
                        <h4>
                            <i class="fa fa-search" aria-hidden="true"></i> &nbsp; 
                            We couldn't find what you are looking for
                        </h4>
                        <p>
                            Map of Life is constantly adding new species based on expert range maps. 
                            If you believe we are missing species or can provide new details for existing species, 
                            feel free to <a href="/feedback" class="alert-link">contact us</a>.
                        </p>
                    </uib-alert>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <h4 class="lead">Or pick a random species</h4>
            <div class="form-inline taxa-random">

                <!--<div ng-include="'static/app/views/home/group_selector.html'" style="position:relative;display:inline"></div>-->

                <button ng-click="randomSpecies()" class="btn btn-default">Spin the wheel</button>
            </div>
        </div>
    </div>

    <hr />
    
    <div class="content favourites">

        <h4 class="lead">Or select from our favourites</h4>

        <div class="col-lg-3 col-md-4 col-sm-6 text-center" ng-repeat="sp in speciesList">
            <div class="hero-species" ng-click="loadSpeciesPage(sp.s)">
                <div class="hero-card">
                    <div class="hero-header">
                        <img class="img-center center-block img-responsive" src="{{molConfig.base}}static/app/views/home/img/{{ sp.i }}" alt="{{ sp.c }}" style="" />
                    </div>
                    <div class="hero-info">
                        <h4>{{ sp.c }}</h4>
                        <em>{{ sp.s | replace:"_":" " }}</em>
                    </div>
                </div>
            </div>
        </div>
        
    </div>


</div>