<div class="name" ng-if="species.scientificname">
  <mol-species-images
    class="pull-right"
    scrolling="false"
    ng-show="!$state.params.noimage"
    size="120" scientificname="species.scientificname"></mol-species-images>

    <div class="infoCommonName" ng-show="species.commonname">
        {{species.commonname }}
    </div>
    <div class="infoSciName" ng-show="species.scientificname">
        {{species.scientificname }}
    </div>
    <div class="infoFamily" ng-if="species.taxa">
         <img class="group-icon-sm" 
            ng-src="//mol.org/static/img/groups/taxa_{{ species.taxa }}.png" /> 
         <span style="vertical-align: middle">| {{ (species.family[0]['name'] || species.family[1]['name']) }}</span>
    </div>
    <div class="infoIUCNStatus {{species.redlist}}"
         style="font-size:0.9em; cursor: pointer; cursor: hand;" 
         ng-show="species.redlist">
        <a href="{{ species.redlist_link || 'http://www.iucnredlist.org/' }}" target="_blank">{{ (species.redlist | iucnStatus) }}&nbsp;(IUCN&nbsp;2017)</a>
    </div>
</div>
