
<div class="col-md-12 metrics">
    <div class="row metric">
        <div class="col-md-12">
            <h4><span  class="ttelem" tooltip-append-to-body="true" uib-tooltip="{{ model.tt.pac_short }}">
              Maximum reserve coverage within suitable habitat.</span>
              <i ng-show="!species.reserve_coverage"
                class="fa fa-refresh fa-spin"></i>
            </h4>

        </div>
    </div>

    <div class="row metric" ng-if="species.reserve_coverage">
      <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="ttelem" tooltip-append-to-body="true" uib-tooltip="Includes reserves of all sizes">Any size</th>
                    <th class="ttelem" tooltip-append-to-body="true" uib-tooltip="Compute total area contributed by reserves larger than minimum size (result is not visualized on map)">Larger than {{threshold.min | km2}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="value-center ttelem"  tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="{{model.tt.strict_parks }}">Strict Parks</td>
                    <td class="value-center" ng-bind-html="species.reserve_coverage | reserveFilter:['I','II','III']:0 | reserveCount"></td>
                    <td class="value-center" ng-bind-html="species.reserve_coverage | reserveFilter:['I','II','III']:threshold.min | reserveCount">
                      <i class="fa fa-refresh fa-spin"></td>
                </tr>


                <tr>
                    <td class="value-center ttelem"  tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="{{model.tt.all_parks }}">All parks</td>
                    <td class="value-center">{{species.reserve_coverage | reserveFilter:['I','II','III','IV','V','VI','Not Reported']:0 | reserveCount}}</td>
                    <td class="value-center">{{species.reserve_coverage | reserveFilter:['I','II','III','IV','V','VI','Not Reported']:threshold.min | reserveCount}}</td>
                </tr>
                <tr>
                    <td class="ttelem value-center"  tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="{{model.tt.all_parks_area }}">All parks area</td>
                    <td class="value-center">{{species.reserve_coverage | reserveFilter:['I','II','III']:0 | reserveArea | number:1 | km2}}</td>
                    <td class="value-center">{{species.reserve_coverage | reserveFilter:['I','II','III']:threshold.min | reserveArea | number:1 | km2}}</td>
              </tr>
                <tr>
                    <td class="value-center ttelem"  tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="{{model.tt.target_area }}">Target area</td>
                    <td class="value-center">{{ species.habitat_distribution.refined_range_size | targetProtectedArea | number : 1 | km2 }}</td>
                    <td class="value-center">{{ species.habitat_distribution.refined_range_size | targetProtectedArea | number : 1 | km2 }}</td>
                </tr>
                <tr >
                    <td class="value-center ttelem"  tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="{{model.tt.target_realized }}">Target realized</td>
                    <td class="value-center" ng-class="(
                        100*(species.reserve_coverage | reserveFilter:['I','II','III']:0 | reserveArea) / (species.habitat_distribution.refined_range_size | targetProtectedArea ) )
                          | targetRealizedClass">
                        {{ (species.reserve_coverage | reserveFilter:['I','II','III']:0 | reserveArea) / (species.habitat_distribution.refined_range_size | targetProtectedArea) | percentage : 1 }}
                    </td>
                    <td class="value-center" ng-class="(
                        100*(species.reserve_coverage | reserveFilter:['I','II','III']:threshold.min | reserveArea) / (species.habitat_distribution.refined_range_size | targetProtectedArea ) )
                          | targetRealizedClass">
                        {{ (species.reserve_coverage | reserveFilter:['I','II','III']:threshold.min | reserveArea) / (species.habitat_distribution.refined_range_size | targetProtectedArea) | percentage : 1 }}
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
      </div>
      <div class="row" ng-if="species.reserve_coverage">
          <div class="col-md-4"></div>
          <div class="col-md-4"
              rel="tooltip"
              style="text-align:right">
              <span class="ttelem" uib-tooltip="{{model.tt.min_reserve_size }}">Minimum reserve size:</span>
          </div>
            <div class="col-md-4">
              <div range-slider show-values="false"
                  step="2" min="0" max="1000" value="10"
                  prevent-equal-min-max
                  model-min="threshold.min"
                  model-max="threshold.max"
                  pin-handle="max">
              </div>
          </div>
      </div>
</div>
