 <div class="navigation">

    <div class="navbar navbar-default" >
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
              ng-click="snc=!snc" >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="subnav navbar-collapse collapse container-fluid" uib-collapse='!snc' >
            <ul class="nav navbar-nav">
              <li ui-sref-active="active"
                 ui-sref="species.overview($state.params)"
                 ><a href="#">Overview</a></li>
              <li ui-sref-active="active"
                 ui-sref="species.detailed-map($state.params)"
                 ><a href="#">Detailed Map</a></li>

               <!--<li ng-show="species.prefs.ee_id" ui-sref-active-eq="active"
                  ui-sref="species.habitat-distribution($state.params)"
                    ui-sref-opts="{reload: 'species.habitat-distribution'}"
                ><a href="#">Habitat Distribution</a></li>

               <li  ng-show="species.prefs.ee_id" ui-sref-active-eq="active"
                  ui-sref="species.habitat-distribution.reserve-coverage($state.params)"
                  ui-sref-opts="{reload: 'species.habitat-distribution'}"
                  ><a href="#">Reserve Coverage</a></li>-->
            </ul>
            <ul class="nav navbar-nav visible-xxxs visible-xxs">
                <li>
                    <a  class="selected">
                       <i class="fa fa-info"></i>Species Info</a>
                </li>
                <li>
                    <a ng-href="http://map.mol.org/lists">
                        <i class="fa fa-list-ol icon"></i>Species Lists by Location</a>
                </li>
            </ul>
            <mol-species-search ng-show="!$state.params.embed||$state.params.speciessearch"></mol-species-search>
            <mol-location-search ng-show="!$state.params.embed||$state.params.regionsearch"></mol-location-search>
          </div>

</div>
