
[state^="species.detailed-map"] .detailed-map {

      display: -webkit-flex;
      display: flex;
      flex: 1;
      -webkit-flex: 1;
    }

[state^="species.detailed-map"] .angular-google-map {
      display: -webkit-flex;
      display: flex;
      flex: 1;
      -webkit-flex: 1;
      .google-map-canvas, .google-map-canvas * { .box-sizing(content-box); }

      /* Optional responsive image override */
      img { max-width: none; }
  }
[state^="species.detailed-map"]   .angular-google-map .angular-google-map-container {
      -webkit-flex: 1;
      flex: 1;
  }


[state^="species.detailed-map"]   .controls_container {
  	display: block;
  	width:400px;
  }


[state^="species.detailed-map"]    .detail_map_layer_sidebar {

  	overflow-x: hidden;
  	overflow-y: auto;
  }

[state^="species.detailed-map"]    .detail_map_layer_controls {
  	padding: 10px 0px;
  	font-size: 12pt;
  }


[state^="species.detailed-map"]  .type-row {
    width:100%;
    padding: 5px;
    white-space: nowrap;
}

[state^="species.detailed-map"]  .row {

    padding-top: 2px;
    padding-bottom: 2px;

}


[state^="species.detailed-map"]  .col {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 5px;
}

[state^="species.detailed-map"]  .col.feature-ct {
  display: inline-block;
  width: 50px;
  height: 25px;
  padding: 5px;
}


[state^="species.detailed-map"]  .col .btn{

  width: 25px;
  height: 25px;
}

[state^="species.detailed-map"]  .col.title{
    width:175px;
    text-overflow: ellipsis;
    text-decoration: underline;
}


[state^="species.detailed-map"]  .layer_count {
	font-weight:bold;
	text-align:center
}
