<div class="detail_map_sidebar">
  <div class="row" ng-cloak ng-show="!$state.params.noname||!$state.params.noimage">
    <div ng-cloak ng-hide="$state.params.noname" ng-include="'static/app/partials/tax.html'">
    </div>
    <div ng-cloak ng-hide="$state.params.noimage" class="col-md-4">
      <species-images
        ng-show="toggles.sidebarVisible"
        scientificname="species.scientificname"></species-images>
    </div>
  </div>
  <div class="row"><div class="col-md-12"><h5>Sources</h5></div></div>
  <div class="row">
    <div class="col-md-12" ng-include="'static/app/views/detailed-map/datasets.html'"></div>
  </div>

    <points-histogram

      ng-show="types.points.visible"
      scientificname="species.scientificname"
      years="year"
      uncertainty="uncertainty"
      filters="filters"
      types="types"
      limit="filters.points"></points-histogram>

</div>
